<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.UpsoMapper">

	<select id="searchUpso" resultType="Vo.BusinessVO"
		parameterType="Vo.SearchVO">
		select
		cgg_code,
		snt_cob_code,
		yy,
		upso_sno,
		snt_cob_nm,
		perm_nt_ymd,
		upso_nm,
		site_addr_rd,
		site_addr,
		upso_site_telno,
		bman_stdt,
		bup_nm,
		site_stdt,
		admdng_nm,
		dcb_ymd,
		dcb_gbn_nm,
		dcb_why,
		snt_uptae_nm,
		ge_eh_yn,
		site_loc_gbn,
		trdp_area_etc,
		perm_nt_no,
		cn_perm_stdt,
		cn_perm_enddt,
		cn_perm_nt_sayu,
		perm_nt_cn
		from biz_a
		where upso_nm like '%'||#{upso_nm}||'%' and site_addr like
		'%'||#{site_addr}||'%'

		union

		select
		cgg_code,
		snt_cob_code,
		yy,
		upso_sno,
		snt_cob_nm,
		perm_nt_ymd,
		upso_nm,
		site_addr_rd,
		site_addr,
		upso_site_telno,
		bman_stdt,
		bup_nm,
		site_stdt,
		admdng_nm,
		dcb_ymd,
		dcb_gbn_nm,
		dcb_why,
		snt_uptae_nm,
		ge_eh_yn,
		site_loc_gbn,
		trdp_area_etc,
		perm_nt_no,
		cn_perm_stdt,
		cn_perm_enddt,
		cn_perm_nt_sayu,
		perm_nt_cn
		from biz_a
		where upso_nm like '%'||#{site_addr}||'%' and site_addr like
		'%'||#{upso_nm}||'%'
	</select>

	<select id="searchUpsoone" resultType="Vo.BusinessVO"
		parameterType="String">
		select
		cgg_code,
		snt_cob_code,
		yy,
		upso_sno,
		snt_cob_nm,
		perm_nt_ymd,
		upso_nm,
		site_addr_rd,
		site_addr,
		upso_site_telno,
		bman_stdt,
		bup_nm,
		site_stdt,
		admdng_nm,
		dcb_ymd,
		dcb_gbn_nm,
		dcb_why,
		snt_uptae_nm,
		ge_eh_yn,
		site_loc_gbn,
		trdp_area_etc,
		perm_nt_no,
		cn_perm_stdt,
		cn_perm_enddt,
		cn_perm_nt_sayu,
		perm_nt_cn
		from biz_a
		where upso_nm like '%'||#{keyword1}||'%'
	</select>


	<select id="simularsearch" resultType="Vo.SearchVO"
		parameterType="String">
		select upso_nm, site_addr
		from (
		select rownum, upso_nm, site_addr
		from biz_a
		where UPSO_NM like '%'||#{keyword}||'%'
		)
		where rownum BETWEEN 1 AND 10
	</select>


</mapper>
